vapor_dbname={{ vapor_dbname }}
vapor_dbuser={{ vapor_dbuser }}
vapor_dbpass={{ vapor_dbpass }}

vapormap_backend={{ vapormap_backend }}
vapormap_backend_port={{ vapormap_backend_port }}
vapormap_url_port={{ vapormap_url_port }}
vapormap_url_servername={{ vapormap_url_servername }}

image_docker_mariadb={{ image_docker_mariadb }}
tag_docker_mariadb={{ tag_docker_mariadb }}
image_docker_api={{ image_docker_api }}
tag_docker_api={{ tag_docker_api }}
image_docker_front={{ image_docker_front }}
tag_docker_front={{ tag_docker_front }}

replicas_api={{ replicas_api }}
replicas_front={{ replicas_front }}

update_parrallelism={{ update_parrallelism }}
update_fail_ratio={{ update_fail_ratio }}
rollback_parrallelism={{ rollback_parrallelism }}
